<h1>Directory of Student Pages</h1>

<ul>
  <li><%= link_to 'spikypancakedragon', spikypancakedragon_path %></li>

    <li><%= link_to 'Kaelon20', kaelon_path %></li>
    <li><%= link_to 'aaronacet', aaronacet_path%>

</ul>
